.main{
    margin:50px;
    height:600px;
    width:410px;
    background-color: rgb(40, 31, 21);
    border: 2px solid;
    border-radius:20px;
}#screen{
    height:70px;
    width:300px;
    margin-left:50px;
    margin-top: 40px;
    pointer-events: none;
    font-size:40px; 
    text-align:end;
    
}.clearbtn{
    height:55px;
    width:55px;
    margin-left:50px; 
    margin-top:40px; 
    border-radius:10px;
    background-color: rgb(212, 204, 204);
    font-size:30px; 
    font-weight: bold;
}.on{
    height:55px;
    width:140px;
    margin-left:110px; 
    margin-top:40px;
    border-radius:10px;
    background-color: rgb(21, 217, 231);
    font-size:27px;  
    font-weight: bold;
   
}
.rows{
    margin-top:30px;
}
.row{margin-left:25px;
    margin-top:30px;
}
.btn{
    height:55px;
    width:55px;
    margin-left:25px;
    border-radius:10px;
    background-color: rgb(212, 204, 204);
    font-size:30px;
}